* {
	padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.45) !important;
    background-image: url(../img/bg1.jpg);
    background-blend-mode: color;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
@media(min-width:767px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

li {

    list-style: none;
    display: inline-block
}

a {

    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {

    text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {
	 transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {
	background-color: #2a2f38 !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}


/*NAVIGATION*/


.navbar {
	background-color: transparent !important;
    text-transform: uppercase;
    font-family: 'Georgia', Arial, sans-serif;
    font-weight: 700;
}

.navbar a {
    color: #000 !important;
    opacity: 0.8;
}

.navbar a:active {
	background-color: transparent !important;
}

.navbar a:hover:not(.navbar-brand) {
    opacity: 1;
    background-color: #7C0B30 !important;
}





/*HEADER*/

.header {
    height: 720px;
    width: 100%;
    padding: 430px 0 150px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 260px;
    color: #fff;
}


.header img {
    height: 350px;
    width: 450px;
    margin: 70px 0 0 40px;
}

.header h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}

.header h1,
.header p,
/*.header button*/ 
/*.header a{   
    margin-top: 20px;
}*/
.header button {
	margin-left: 30px !important;
	margin-right: auto;
	height: 100px;
	width: 350px;
	color: #000;
	font-weight: bolder !important;
	background-color: transparent !important;
	opacity: 0.8;
	border-radius: 30px;
	border: 5px solid #000 !important;
	text-align: center;
}

/*.header a {
	color: #000;
	font-weight: bold;
	font-size: 34px;
	margin-left: 30px !important;
	margin-right: auto;
	height: 100px;
	max-width: 450px;
	opacity: 0.8;
	border-radius: 50px;
	border: 5px solid #000;
	text-align: center;
	padding: 50px 50px 50px 50px;
}*/


.header button:hover {
	background-color: #7C0B30 !important;
	outline: none  !important;
	opacity: 1 !important;
	color: #fff !important;
}

/*.header a:hover {
	background-color: #363a42 !important;
	border: none;
	opacity: 1 !important;
	color: #fff !important;
}
*/

@media(max-width:768px) {
    
    .header {       
        padding: 30px;
        height: 750px;
    }
    
    .header img {      
        width: 90%;
        height: 300px;
        margin: 20px 0 0 20px;
    }
    
    .header .btn {
        font-size: 10px;
        margin-left: 20px;
    }
    
    .header h1 {      
        font-size: 20px;
    }
    
    .header p {      
        font-size: 10px;
    }
}

.space img {
	background-color: #232D3B;
	opacity: 0.6;
	padding-left: 0 !important;
	margin-left: 0 !important;
}

/*SERVICES*/

.services {   
    padding: 80px 0 80px;
    text-align: center;
    background-color: #fff;
}

.services h2 {
	font-size: 30px;
}

.services h2,
.services h4 {  
    color: #000;
    margin: 20px 0 20px;
}


.services p {   
    color: #000;
    font-size: 14px;
    padding-bottom: 40px;
}


.services img{  
    height: 80px;
    width: 80px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #6699cc;
    color: #fff;
}


@media(max-width:768px) {
    
    .services { 
        padding: 30px;
    }
}
/*Testimonial*/

.testimonial { 
    background-color: #232D3B;
    padding: 50px 0 80px;
    text-align: center;
}

.testimonial b,
.testimonial h2,
.testimonial h4 {
    
    margin: 20px 0 20px;
    color: #fff;
}


.testimonial p {
    color: #fff;
}

.testimonial img {
    
    height: 150px;
    width: 150px;
    margin-top: 80px;
}


.testimonial i {
    
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color: #a0db8e;
    color: #fff;
}

.testimonial a:hover i {
    
    background-color: #709963;
}


/*CLIENTS*/

.clients { 
	background-color: #fff; 
    padding: 50px 0 80px;
    text-align: center;
    color: #000;
}

.client h2 {
    
    color: #5e5e5e;
}

.clients p {
    
    padding-bottom: 40px;
}

.clients img {
    height: 150px;
    width: 200px;
    opacity: 0.6;
    cursor: pointer;
    margin: 40px 0;
    transition: all 500ms ease-in-out;
}


.clients li:hover img {
    
    opacity: 1;
}


/*FOOTER*/

.footer {
    
    padding: 30px;
    color: #cccccc;
    background-color: #232D3B;
}


.footer .social {
    
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}


.footer input {
    
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {
    
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}

